{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "tsconfigRootDir": "./",
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "next/core-web-vitals",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off"
  },
  "overrides": [
    {
      "files": ["*.stories.tsx", "styles.ts", "*.styles.ts"],
      "rules": {
        "react/function-component-definition": "off",
        "import/prefer-default-export": "off"
      }
    }
  ]
}
